
@import "./common";

@import './components/breadcrumb';
@import './components/pagination';
@import "./components/carousel";
@import "./components/card";

.carousel-container {
    position: relative;
}

.carousel--page {
    margin-bottom: 30px;

    @include media-breakpoint-up(sm) {
        margin-bottom: 60px;
    }
}

.category--news {
    padding-top: 40px;

    @include media-breakpoint-up(lg) {
        padding-top: 70px;
    }
}

