@import "./common";

@import './components/breadcrumb';
@import './components/pagination';
@import "./components/carousel";
@import "./components/card";

.carousel-container {
    position: relative;
}

.page-caption {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    bottom: 55px;
    color: $primary;
    text-transform: uppercase;
    font-weight: bold;
}
