@import "./common";

@import './components/breadcrumb';
@import './components/pagination';
@import "./components/carousel";
@import "./components/card";

.category--news {
    padding-top: 20px;
    padding-bottom: 15px;

    @include media-breakpoint-up(lg) {
        padding-top: 52px;
    }
}

.category__header {
    margin-bottom: 20px;
}

.carousel-container {
    position: relative;
}

.news-container {
    margin-bottom: 16px;

    @include media-breakpoint-up(lg) {
        margin-bottom: 10px;
    }
}

.news-item {
    margin-bottom: 20px;

    @include media-breakpoint-up(lg) {
        margin-bottom: 35px;
    }
}
