@import "./common";

@import "./components/quantity";
@import "./components/form";
@import "./components/breadcrumb";
@import "./components/card";






.news-list {
    color: $blue;

    a {
        color: $blue;
    }

    ::marker {
        color: $grey;
    }
}