@import "./common";

@import "./components/breadcrumb";
@import "./components/quantity";
@import "./components/form";
@import "./components/pagination";
@import "./components/swiper";
@import "./components/card";

.product-detail {
    padding-top: 10px;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.gallery-top {
    height: 346px;
    width: 100%;

    @include media-breakpoint-up(lg) {
        padding-top: 0;
        height: 526px;
    }
}

.gallery-thumbs {
    height: 74px;
    box-sizing: border-box;
    padding: 10px 0;
    background-color: $grey;

    @include media-breakpoint-up(lg) {
        height: 120px;
    }
}

.gallery-thumbs .swiper-slide {
    height: 100%;
    opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.fan-info {
    &__price {
        h3 {
            font-size: 27px;
            line-height: 34px;
            margin-left: 11px;
            margin-bottom: 0;
        }
    }

    &__status {
        margin-bottom: 10px;
    }

    @include media-breakpoint-up(lg) {
        margin-top: 58px;

        >h3 {
            font-size: 28px;
            line-height: 33px;
            margin-bottom: 8px;
        }

        &__price {
            font-size: 18px;
            line-height: 24px;
        }

        &__status {
            margin-bottom: 16px;
            font-size: 18px;
        }
    }
}

.manufacture {
    padding: 11px 15px;
    margin-bottom: 15px;
    border-radius: 8px;

    &__item {
        font-size: 14px;
        line-height: 22px;
        display: flex;
        justify-content: flex-start;

        @include media-breakpoint-up(lg) {
            font-size: 18px;
            line-height: 28px;
        }
    }

    @include media-breakpoint-up(lg) {
        padding: 19px;

        &__item {
            font-size: 18px;
            line-height: 28px;
            align-items: center;
        }

        .promotion__check {
            margin-right: 9px;
            margin-left: 0px;
        }
    }
}

.promotion {
    font-size: 16px;
    line-height: 22px;
    padding: 12px 15px;
    border-radius: 8px;
    margin-bottom: 13px;

    &__gift {
        height: 18px;
        width: 18px;
        margin-right: 10px;
        background: url(/images/gift.png) center no-repeat;
    }

    &__title {
        margin-bottom: 12px;

        .fa-gift {
            margin-right: 12px;
        }
    }

    &__check {
        height: 16px;
        width: 16px;
        margin-right: 15px;
        background: url(/images/tick-secondary.png) no-repeat center;

        &--orange {
            margin-top: 3px;
            background-image: url(/images/tick-red.png);
        }
    }

    @include media-breakpoint-up(lg) {
        font-size: 18px;
        line-height: 28px;
        padding: 12px 15px;
        margin-bottom: 36px;

        &__check {
            margin-right: 9px;
            margin-left: 4px;
        }

        &__title {
            margin-bottom: 7px;
        }
    }
}

.btn-wrapper {
    margin-bottom: 14px;

    @include media-breakpoint-up(lg) {
        margin-bottom: 25px;
    }
}

.take-order {
    border-radius: $border-radius-3;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
    padding: 11px 0;

    h3 {
        font-size: 25px;
        line-height: 29px;
        margin-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
        padding: 15px 0;

        h3 {
            font-size: 30px;
            line-height: 35px;
            margin-bottom: 4px;
        }
    }
}

.order {
    padding: 11px 0;
    border-radius: 8px;
    margin-bottom: 27px;

    @include media-breakpoint-up(lg) {
        padding: 17px 0;
        border-radius: 8px;
        margin-bottom: -7px;
        font-size: 26px;
        line-height: 30px;

        span:first-of-type {
            margin-right: 6px;
        }
    }
}

.slider--product {
    margin-bottom: 11px;

    .swiper-slide {
        height: 100%;
        @include center;

        @include media-breakpoint-up(sm) {
            padding: 0;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        height: 27px;
        width: 24px;
        font-size: 23px;
        border-radius: 0;
        @include center;
        color: $white;

        &::after {
            font-size: 14px;
            font-weight: bold;
        }

        @include media-breakpoint-up(sm) {
            width: 34px;
            height: 39px;

            &::after {
                font-size: 18px;
            }
        }
    }

    .swiper-button-prev {
        border-radius: 0 7px 7px 0;
        left: -12px;

        @include media-breakpoint-up(sm) {
            left: 0;
        }
    }

    .swiper-button-next {
        border-radius: 7px 0 0 7px;
        right: -12px;

        @include media-breakpoint-up(sm) {
            right: 0;
        }
    }
}

.btn--add {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;

    @include media-breakpoint-up(lg) {
        margin-left: -7px;
        padding-left: 24px;
        padding-right: 24px;
        font-size: 18px;
    }
}

.table-name {
    margin-bottom: 16px;

    @include media-breakpoint-up(lg) {
        margin-bottom: 27px;
    }
}

.table--description {
    @include media-breakpoint-up(lg) {
        margin-bottom: 63px;
    }

    thead {
        background: rgba(232, 238, 247, 0.8);
    }

    th {
        border-bottom: none;
        line-height: 18px;
        font-size: 14px;
        padding: 4px 19px;

        &:first-of-type {
            width: 51%;
        }

        &:last-of-type {
            width: 49%;
            padding-left: 0;
        }

        @include media-breakpoint-up(lg) {
            font-size: 18px;
            line-height: 24px;
            padding: 7px 25px;

            &:first-of-type {
                width: 23%;
            }
        }
    }

    tbody {
        >tr {
            background-color: $white;
            font-size: 14px;

            &:nth-of-type(even) {
                --bs-table-accent-bg: rgba(232, 238, 247, 0.3);
            }

            td {
                font-weight: normal;
                background-color: $white;
                font-weight: normal;
                background-color: #fff;
                @extend th;
            }
        }
    }
}

.order-popup {
    .block-header {
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
    }

    .user-info {
        font-size: 20px;
        line-height: 24px;
    }

    .order-title {
        font-size: 20px;
        line-height: 23px;
        padding: 10px 0;
        background-color: $secondary;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        color: $primary;
    }

    .price {
        font-size: 16px;
    }

    .btn--order {
        font-size: 30px;
        line-height: 35px;
        padding: 17px 0;
        width: 100%;
        text-transform: uppercase;
        color: $white;
    }
}

.category-container {
    background-color: $white;

    @include media-breakpoint-up(lg) {
        background-color: $light;
    }

    .category {
        padding-top: 8px;

        @include media-breakpoint-up(lg) {
            padding-top: 39px;

            &__header {
                margin-bottom: 36px;
            }
        }
    }
}

.btn--color {
    @include media-breakpoint-up(lg) {
        background-color: $primary;
        color: $white;
    }
}



.shape--footer {
    &::after {
        background-color: $secondary;
    }
}

.modal-fullscreen-lg-down {
    height: auto;
}