$primary:   #62120F;
$secondary: #F6921E;
$light:     rgba(232, 235, 240, 0.5);
$white: #fff;
$body-color: $white;
$grid-gutter-width: 2rem;
$grey: #C4C4C4;
$grey-light: #EFEFEF;
$grey-lighter: #E5E5E5;
$black: #000;
$blue: rgba(7, 101, 188, 0.8);


$enable-responsive-font-sizes: true;
$breadcrumb-divider-color:          $secondary;
$breadcrumb-active-color:           $primary;


$border-radius-1: 4px;
$border-radius-2: 6px;
$border-radius-3: 8px;

@font-face {
  font-family: Averta;
  src: url(../../../fonts/Averta-Light.woff2) format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: Averta;
  src: url(../../../fonts/Averta-Regular.woff2) format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: Averta;
  src: url(../../../fonts/Averta-Semibold.woff2) format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: Averta;
  src: url(../../../fonts/Averta-Bold.woff2) format('woff2');
  font-weight: 700;
}

$h1-font-size:                2.8125rem;
$h2-font-size:                2.4375rem;
$h3-font-size:                1.625rem;
$h4-font-size:                1.375rem;
$h5-font-size:                1.25rem;
$h6-font-size:                1rem;

$font-sizes: (
  1: 45px,
  2: 26px,
  3: 23px,
  4: 20px,
  5: 16px,
  6: 13px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1420px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1920px
);

$font-family-sans-serif: Averta;