.branch {
    padding-top: 20px;
    padding-bottom: 20px;

    @include media-breakpoint-up(lg) {
        padding-top: 45px;
        padding-bottom: 42px;
    }

    .branch__item {
        &--center {
            padding-left: 30px;
            padding-right: 30px;
        }

        img {
            width: 100%;
        }
    }

    .gy-branch {
        --bs-gutter-y: 5px;

        @include media-breakpoint-up(lg) {
            --bs-gutter-y: 35px;
        }
    }
}