.btn {
    padding-left: 2rem;
    padding-right: 2rem;
    padding: 7px 33px;
    border-radius: 8px;
    line-height: 24px;

    @include media-breakpoint-up(lg) {
        padding: 7px 40px;
    }


    &--color {
        font-weight: bold;
        color: $primary;
        background-color: $grey-lighter;
        border: none;

        @include media-breakpoint-up(lg) {
            color: $primary;
            background-color: $secondary;
        }
    }
}

.btn-lg {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;

    @include media-breakpoint-up(lg) {
        font-size: 20px;
    }
}