@import  "../tools/mixin";

.footer {
    color: $white;

    &__header {
        font-size: 1.25rem;
    }

    @include media-breakpoint-only(xs) {
        &__logo {
            height: 74px;
        }
    
        &__header {
            font-size: 20px;
            line-height: 24px;
        }
    }

    .social {
        display: flex;
    
        &__item {
            height: 43px;
            width: 43px;
            border-radius: 50%;
            background-color: $white;
            color: $primary;
            font-size: 1.4375rem;
            display: flex;
            justify-content: center;
            align-items: center;
    
            &:not(:last-of-type) {
                margin-right: 6px;
            }
        }
    }
}