.textarea {
    border: 1px solid #DEE0E2;
    border-radius: 5px;
    width: 100%;
    min-height: 77px;
    resize: none;
    padding: 10px 15px;
    font-size: 14px;

    ::placeholder {
        color: $grey;
    }

    :-moz-placeholder {
        color: $grey;
    }

    ::-webkit-input-placeholder {
        color: $grey;
    }

    @include media-breakpoint-up(sm) {
        border-radius: 8px;
        min-height: 113px;
        padding: 22px 34px;
        font-size: 16px;
    }
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    border: 1px solid #DEE0E2;
    border-radius: 50%;
    appearance: none;
    margin-right: 8px;

    &:checked {
        background-color: $secondary;
        padding: 3px;
        background-clip: content-box;
    }

    @include media-breakpoint-up(sm) {
        margin-right: 9px;

        :checked {
            padding: 5px;
        }
    }
}

.form-control {
    height: 50px;
    border: 1px solid #DEE0E2;
    border-radius: 8px;
    font-size: 18px;
    color: $black;

    &:focus {
        color: $black;
    }

    &::placeholder {
        color: $grey;
    }

    &::-moz-placeholder {
        color: $grey;
    }
}
