.navbar {
    color: $white;

    .search-bar {
        position: absolute;
        bottom: -48px;
        left: 0;
        right: 0;
        z-index: 3;
        display: none;

        &.open {
            display: block;
        }

        .form-control {
            height: 48px;
            border-radius: 0 0 0 8px;
            color: $black;
            box-shadow: none;
        }

        .input-group-text {
            border-radius: 0 0 8px 0;
            border: none;
            cursor: pointer;
            padding: 0 57px;
            font-size: 15px;
        }
    }

    .navbar-brand {
        padding: 11px;

        img {
            height: 39px;
            width: auto;
            
            @include media-breakpoint-up(lg) {
                height: 82px;
            }
        }

        @include media-breakpoint-up(lg) {
            margin-right: 68px;
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                padding: 0 16px 26px;
                font-size: 0.9375rem;
                color: $white;

                &.active {
                    color: $secondary;
                    position: relative;

                    &::after {
                        content: "";
                        display: block;
                        height: 4px;
                        width: 42%;
                        background-color: $secondary;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    @include media-breakpoint-only(xs) {
                        &::after {
                            display: none;
                        }
                    }
                }
            }

            &__search {
                margin-left: 23px;
                margin-bottom: 6px;
                cursor: pointer;
            }
        }
    }

    &-toggler {
        border: none;
    }

    .navbar-toggler-icon {
        background: none;
        border: none;
        width: auto;
        height: auto;

        >div {
            width: 23px;
            margin-bottom: 3px;
            display: flex;
            justify-content: space-between;

            &::after,
            &::before {
                content: "";
                display: block;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: $white;
            }
        }
    }

    .contact {
        align-self: flex-end;
        margin-bottom: 2px;

        .fa-phone {
            font-size: 14px;
            margin-right: 9px;
        }

        .dropdown {
            img {
                height: 20px;
                margin-right: 9px;
            }
        }

        .btn--language {
            padding: 2px 10px 5px 10px;
            border-radius: 0 0 8px 8px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;

            &::after {
                display: none;
            }
        }

        &__item {
            font-size: 22px;
            line-height: 1;
            font-weight: bold;
        }
    }
}
