.shape {
    &--branch {
        height: 40px;
        position: relative;
        overflow: hidden;
        background-color: transparent;

        &::after {
            @include shape(600vw, $white, 'down');

            @include media-breakpoint-up(md) {
                @include shape(1200vw, $white, 'down');
            }
        }
    }

    &--footer {
        height: 20px;
        position: relative;
        overflow: hidden;
        background-color: $primary;

        &::after {
            @include shape(600vw, $white, 'down');
        }

        @include media-breakpoint-up(md) {
            height: 40px;

            &::after {
                @include shape(1200vw, $white, 'down');
            }
        }
    }

    &--top {
        height: 18px;
        position: relative;
        overflow: hidden;
        background-color: $secondary;
        margin-right: -6px;
        margin-left: -6px;

        &::after {
            @include shape(600vw, $white, 'up');

            @include media-breakpoint-up(md) {
                @include shape(1200vw, $white, 'up');
            }
        }

        @include media-breakpoint-up(md) {
            height: 40px;
            margin-right: -16px;
            margin-left: -16px;
        }
    }
}